<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cut Cene</title>

    <link rel="stylesheet" href="../Styles/global.css">
    <link rel="stylesheet" href="../Styles/history.css">
    <link rel="shortcut icon" href="../Assets/Icons/favIcon.svg" type="image/x-icon">

</head>
<body>

    <main class="containerCut">
        <div id="cena01" class="imgCut Active"><img src="../Assets/img/Cena01.png" alt=""> </div>
        <div id="cena02" class="imgCut"><img src="../Assets/img/Cena02.png" alt=""></div>
        <div id="cena03" class="imgCut"><img src="../Assets/img/Cena03.png" alt=""></div>

        <p id="text01" class="body_text ActiveText">Obrigada a abandonar suas terras após a devastação causada pelo perverso Robot Bill,
        Wynonna percorreu desertos desconhecidos, buscando conhecimento e força para derrotá-lo. Cada passo ao lado
        de Bronze a aproximava do mesmo objetivo: enfrentar o tirano das pistas e reivindicar o título lendário de Corcel Negro.
        </p>

        <p id="text02" class="body_text"> Agora, Wynonna retorna para reivindicar tudo o que lhe foi tirado.
        Chegou a 15ª edição da Corrida do Corcel Negro — o torneio que concede ao vencedor o poder de governar 
        todas as Terras da Poeira. E ela não pretende deixar que Robot Bill mantenha esse trono por mais um ciclo.
        </p>

        <p id="text03" class="body_text">Mas Robot Bill não ficará parado. Ao lado de seu implacável cavalo robô,
        Ironhoof, ele usará cada truque sujo e cada engrenagem proibida para impedir a ascensão de Wynonna. Bill fará
        de tudo para vencer novamente e preservar seu reinado de terror sobre as Terras da Poeira.</p>
    </main>

    <button id="Next" class="title_text" onclick="CutCene(1)">Next</button>
    
</body>
</html>

<script src="../Scripts/history.js"></script>