<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Menu</title>

    <link rel="stylesheet" href="../Styles/index.css">
    <link rel="stylesheet" href="../Styles/global.css">
    <link rel="shortcut icon" href="../Assets/Icons/favIcon.svg" type="image/x-icon">

</head>
<body onclick="IniciarSong(1)">
    
    <header class="container_title">

        <img class="logo" src="../Assets/Icons/Logo.svg" alt="">
        
        <div class="div_title">
            <h1 class="title_text">Turfe Games</h1>
            <h3 class="body_text subtitle">O Corcel Negro</h3>
        </div>

    </header>

    <span id="inicio" class="Inicio"> Clique em qualquer lugar para iniciar ...</span>

    <main id="container_menu" class="container_menu">

        <ul class="menu">
            

            <li onmouseover="EfeitoSonoroMenu()" onclick="window.location = './history.html'">New Game</li>
            <li onmouseover="EfeitoSonoroMenu()" onclick="window.location = './characters.html'">Multiplayer</li>
            <li onmouseover="EfeitoSonoroMenu()" >Credits</li>

        </ul>


    </main>

</body>
</html>

<script src="../Scripts/soundTrack.js">



</script>