<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Race history</title>

    <link rel="shortcut icon" href="../Assets/Icons/favIcon.svg" type="image/x-icon">
    
    <link rel="stylesheet" href="../Styles/raceHistory.css">
  </head>

  <body onload="IniciarSong(6)">
    <div id="game_container">
      <div id="bg_unico"></div>

      <div id="top_timer">3</div>

      <div id="ui">
        <div id="mensagem">Pronto?</div>
        <br />
        <h3>Resultados por Volta</h3>
        <div id="conteudo_logs">Aguardando início...</div>
      </div>
    </div>
  </body>
</html>

<script src="../Scripts/raceHistory.js"></script>
<script src="../Scripts/soundTrack.js"></script>
