<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Race</title>

    <link rel="stylesheet" href="../Styles/global.css">
    <link rel="stylesheet" href="../Styles/race.css">
    <link rel="shortcut icon" href="../Assets/Icons/favIcon.svg" type="image/x-icon">

</head>
<body>

    <section id="Detalhes" class="Detalhes">
        <img class="backgroundImg" src="../Assets/Icons/PainelRace.png" alt="">
        <h2 class="title_text">Voltas</h2>

    </section>
    
</body>
</html>

<script src="../Scripts/race.js"></script>