<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vencedores</title>
    <link rel="stylesheet" href="../Styles/global.css">
    <link rel="stylesheet" href="../Styles/telaFinal.css">
    <link rel="shortcut icon" href="../Assets/Icons/favIcon.svg" type="image/x-icon">
</head>

<body>


    <header class="container_title">
        <img class="logo" src="../Assets/Icons/Logo.svg" alt="Logo">
        <div class="div_title">
            <h1 class="title_text">Turfe Games</h1>
            <h3 class="subtitle">Os Campeões da Corrida</h3>
        </div>
    </header>

    <main class="ranking_section">

        <h1 class="ranking_title">Ranking Final</h1>

        <section class="ranking_cards">

            <div class="card">
                <div class="place place1">1º Lugar</div>
                <div class="img_box">
                    <img src="../Assets/Sprites/Wynonna-Bronze.png" alt="1º colocado">
                </div>
                <h2 class="card_name">Nome do Cavalo</h2>
                <h2 class="card_pontuação">Pontuação</h2>

            </div>

            <div class="card">
                <div class="place place2">2º Lugar</div>
                <div class="img_box">
                    <img src="../Assets/Sprites/pegasus.png" alt="2º colocado">
                </div>
                <h2 class="card_name">Nome do Cavalo</h2>
                <h2 class="card_pontuação">Pontuação</h2>

            </div>

            <div class="card">
                <div class="place place3">3º Lugar</div>
                <div class="img_box">
                    <img src="../Assets/Sprites/Robot Bill-Ironhoof.png" alt="3º colocado">
                </div>
                <h2 class="card_name">Nome do Cavalo</h2>
                <h2 class="card_pontuação">Pontuação</h2>

            </div>

        </section>

    </main>






</body>

</html>