<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade Your Horse</title>


    <link rel="stylesheet" href="../Styles/global.css">
    <link rel="stylesheet" href="../Styles/upgrade.css">
    <link rel="shortcut icon" href="../Assets/Icons/favIcon.svg" type="image/x-icon">

</head>

<body>
    <div class="header_principal">
        <div class="container_title">
            <img class="logo" src="../Assets/Icons/Logo.svg">

            <div class="div_title">
                <h1 class="title_text">Turfe Games</h1>
                <h3 class="body_text subtitle">O Corcel Negro</h3>
            </div>
        </div>

        <h2 class="title_text">Tune Your Horse</h2>
    </div>

    <div class="container">
        <img src="../Assets/Sprites/Wynonna-Bronze.png">

        <div class="upgrade">
            <div class="progresso">
                <label for="speed">Speed:</label>
                <progress id="Speed" value="20" max="100"> 20% </progress><br>

                <label for="resistence">Resistance:</label>
                <progress id="resistence" value="20" max="100"> 20% </progress>
            </div>
            <div class="pai-box">
                <div class="box">
                    <span>Speed</span>
                    <button>Upgrade</button>
                </div>
                <div class="box">
                    <span>Resistance</span>
                    <button>Upgrade</button>
                </div>
            </div>
            <button id="final">Done</button>
        </div>
    </div> 
</body>

</html>