<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade Your Horse</title>


    <link rel="stylesheet" href="../Styles/global.css">
    <link rel="stylesheet" href="../Styles/upgrade.css">
    <link rel="shortcut icon" href="../Assets/Icons/favIcon.svg" type="image/x-icon">

</head>

<body onload="IniciarSong(4)">
    <div class="header_principal">
        <div class="container_title">
            <img class="logo" src="../Assets/Icons/Logo.svg">

            <div class="div_title">
                <h1 class="title_text">Turfe Games</h1>
                <h3 class="body_text subtitle">O Corcel Negro</h3>
            </div>
        </div>

        <h2 class="title_text">Tune Your Horse</h2>
    </div>

    <div class="container">
        <img src="../Assets/Sprites/Wynonna-Bronze.png">

        <div class="upgrade">
            <div class="progresso">
                <label class="title_text" for="speed">Speed:</label>
                <div id="Ponto1" class="Pontos"></div>
                <div id="Ponto2" class="Pontos"></div>
                <div id="Ponto3" class="Pontos"></div>
                <div id="Ponto4" class="Pontos"></div>
                <div id="Ponto5" class="Pontos"></div>
            </div>
             <span id="pontos" class="title_text">Pontos:</span>
            <div class="pai-box">
                <div class="box">
                    <span>Speed</span>
                    <button onclick="Upgrade()">Upgrade</button>
                </div>
            </div>
            <button onclick="Run()" id="final">Next</button>
        </div>
    </div> 
</body>

</html>

<script src="../Scripts/upgrade.js"></script>
<script src="../Scripts/soundTrack.js"></script>