<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vitoria</title>

    <link rel="stylesheet" href="../Styles/global.css">
    <link rel="stylesheet" href="../Styles/vitoria.css">
    <link rel="stylesheet" href="../Assets/Icons/favIcon.svg">

</head>
<body onload="IniciarSong(2)">

    <div id="temp" class="Metricas title_text temp">Tempo Total:</div>
    <div id="vel" class="Metricas title_text vel">Velocidade:</div>
    <button onclick="window.location = 'index.html'" class="title_text btn menu">Menu</button>
    <button onclick="sessionStorage.clear(), window.location = 'history.html'" class="title_text btn again">Try Again</button>

</body>
</html>

<script src="../Scripts/soundTrack.js"></script>
<script src="../Scripts/vitoria.js"></script>