body {

    background: url(../Assets/img/BackgroundCharacters.png);
    background-repeat: round;
    overflow: hidden;
    
}

.container_title {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;

}

.div_title{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.title_text{

    font-size: 4.5vw;
    height: 35%;
    color: var(--Marrom-escuro);


}

.subtitle {

    font-size: 1.5vw;
    color: var(--Marrom-intermediario);

}

.logo {

    width: 6%;

}

.container_characters {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 100%;
    
}

.characters {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: .5%;

}

#SmokeOverlay {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    pointer-events: none;
    
}

.players {

    background-image: url(../Assets/Customs/CustomCharacter.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.options{

    width: 125%;

}

.btn_options{

    width: 1.25%;
    height: 4%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--Marrom-escuro);
    border-radius: 100%;
    color: aliceblue;
    font-weight: 700;
    cursor: pointer;

}

.img_options{

    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

}

.players .title_text {

    font-size: x-large;

}

.players h2 {

    height: 5%;

}

.btn_selection {

    height: 7%;
    width: 60%;
    border: 2px solid beige;
    border-radius: 20px;
    background-color: var(--bg-button);
    position: absolute;
    bottom: 20%;
    cursor: pointer;

}

.btn_ride{


    position: absolute;
    bottom: 10%;
    z-index: 100;
    cursor: pointer;
   width: 8%;
    height: 5%;
    background-color: rgb(210, 207, 194);
    box-shadow: 0px 0px 20px rgba(210, 207, 194, 1);
    font-size: 1.5vw;
    border-radius: 8px;
    color: white;


}

.Active {

    background-color: rgba(177, 59, 29, 1);
    box-shadow: 0px 0px 20px rgba(177, 59, 29, 1);

}

#close {

    width: 5%;
    height: 3%;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: var(--bg-button);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;

}

#close:hover {

    background-color: rgba(177, 59, 29, 1);
    box-shadow: 0px 0px 20px rgba(177, 59, 29, 1);

}

