body{

    background: url(../Assets/img/BackgroundMaps.png);
    background-size: cover;

}

.containerCut {

    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;

}

.imgCut{

    display: none;
    opacity: .9;

}

.Active {

    display: flex;
    height: 100%;
    margin-left: 8%;

}

.body_text{

    display: none;
    color: white;
    align-items: center;
    text-align: center;
    width: 40%;
    margin-left: 2%;
    font-size: 2vw;

}

.ActiveText {

    display: flex;

}

#Next{

    position: absolute;
    right: 5%;
    bottom: 10%;
    border: 2px solid white;
    border-radius: 5px;
    height: 5%;
    width: 5%;
    color: white;
    background-color: rgba(177, 59, 29, 1);
    box-shadow: 0px 0px 20px rgba(177, 59, 29, 1);
    cursor: pointer;


}


#Next:hover {

    transform: translate(2px) scale(1.1);

}