@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


body {

    background: url(../Assets/img/BackgroundMaps.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}

.container_title {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 20%;
}

.div_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_text {
    font-size: 300%;
    color: white;
}

.subtitle {
    font-size: 150%;
    color: white;
}

.logo {
    width: 7%;
}
.container_maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.textMaps { 
    font-size: 40px;
    color: var(--Marrom-escuro); 
    margin-bottom: 30px;
}


.maps {
    display: flex;
    justify-content: center;
    gap: 4%;
    width: 90%;
    padding: 20px 0;
}

.players {
    width: 50%;
    height: 100%;           
    background: var(--Marrom-medio);
    border-radius: 16px;
    border: 4px solid #f3d6b5;
    overflow: hidden;          
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 12px 20px rgba(0,0,0,0.35);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.players:hover {
    transform: translateY(-6px);
}

.players h2 {
     font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
    width: 100%;
    height: 40%;
    margin: 0;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img_options {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;         
}

.img_options img {
    width: 100%;
    height: 100%;
    object-fit: cover;        
}

.btn_selection {
    width: 40%;
    height: 30px;
    border-radius: 12px;
    position: absolute;
    bottom: 15px;
    background: #5e3923;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
}

.btn_selection:hover {
    background: #402616;
    transform: scale(1.05);
}

.footer_nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
}

.btn_ende {
    border: 2px solid #D32F2F; 
    color: white;
    font-size: 20px;
    padding: 4px 25px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(211, 47, 47, 0.5);
}

