@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


body {

    background: url(../Assets/img/BackgroundMap3.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}


.container_title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2%;
    height: 18%;
    padding-left: 3%;
}

.logo {
    width: 7%;
}

.div_title {
    display: flex;
    flex-direction: column;
}

.title_text {
    font-size: 50px;
    color: white;
    margin: 0;
}

.subtitle {
    font-size: 20px;
    color: white;
    margin-top: -10px;
}


.ranking_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 82%;
    width: 100%;
}

.ranking_title {
    font-size: 3vw;
    color: var(--Marrom-escuro);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin: 20px 0 40px 0;
}



.ranking_cards {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 4%;
    width: 100%;
    height: 70%;
}

.card {
    width: 20%;
    height: 85%;
    background: rgba(255, 240, 220, 0.9);
    border-radius: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 12px 20px rgba(0,0,0,0.35);
}

.place {
    font-size: 1.7vw;
    font-weight: bold;
    margin-bottom: 10px;
}


.img_box {
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
}

.img_box img {
    height: 100%;
    object-fit: contain;
}

.card_name {
    font-size: 1.6vw;
    font-weight: bold;
    color: var(--Marrom-escuro);
    margin-top: 15px;
}
.card_pontuacao{
    font-size: 1.6vw;
    font-weight: bold;
    color: var(--Marrom-escuro);
    margin-top: 15px;

}
