body {
    background: url(../Assets/img/BackgroundCharacters.png);
    background-repeat: round;
    overflow: hidden;
}

.header_principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.container_title {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;

}

.div_title{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.title_text{

    font-size: 4.5vw;
    height: 35%;
    color: var(--Marrom-escuro);


}

.subtitle {

    font-size: 1.5vw;
    color: var(--Marrom-intermediario);

}

.logo {

    width: 6%;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 75%;
}

.upgrade  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  /* background-color: rgba(165, 42, 42, 0.305);*/
    width: 30%;
    height: 80%;
}

.progresso{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    align-items: center;

}

.progresso label {
    font-size: 30px;
    color: white;
}

.title_text {

    height: 100%;

}

/* progress {
    color: brown;
} */

.pai-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.732);
    border-radius: 15px;
    width: 180%;
    justify-content: space-between;
    align-items: center;
}
span {
    font-size: 30px;
    font-family: "Crimson Text", serif;
    color: white;  
    margin-left: 15px; 
}
.box button {
    background-color: rgba(177, 59, 29, .8);
    border-radius: 10px;
    color: white;
    margin-right: 15px;
    height: 25px;
    width: 100px;
    cursor: pointer;
}

.upgrade  #final{
    background-color: rgba(177, 59, 29, .8);
    border-radius: 10px;
    border: 3px solid white;
    color: white;
    margin-right: 15px;
    height: 40px;
    width: 200px;
    font-size: 30px;
}

#pontos {

    color: white;
    font-size: xx-large;
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    background-color: var(--bg-button);

}   

.Pontos{

    border: 3px solid var(--Marrom-escuro);
    width: 10%;
    height: 50%;

}

.Ativo {

    background-color: rgba(177, 59, 29, 1);
    box-shadow: 0px 0px 20px rgba(177, 59, 29, 1);

}
