body {

    background: url(../Assets/img/CenaFinal.png);
    background-color: var(--Marrom-intermediario);
    background-position: center;
    background-repeat: no-repeat;

}

.title_text {

    color: white;
    position: absolute;
    top: 20%;
    left: 43%;
    font-size: 4vw;

}

.btnFim {

    top: 40%;
    left: 48%;
    font-size: 2.5vw;
    border: 5px solid white;
    height: 9%;
    width: 10%;
    border-radius: 20px;
    background-color: rgba(177, 59, 29, 1);
    box-shadow: 0px 0px 20px rgba(177, 59, 29, 1);
    cursor: pointer;

}