body {

    background: url(../Assets/img/CenaFinal.png);
    background-size:contain;
    background-repeat: round;

}

.Metricas {


    color: white;
    font-size: 2vw;
    border: 5px outset #AF4E22;
    background-color: var(--bg-button);
    width: 25%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 1%;

}

.temp {

    position: relative;
    top: 30%;
    left: 10%;

}

.vel{

    position: relative;
    top: 33%;
    left: 10%;

}

.star {

    margin-left: 1.5%;
    width: 12%;

}

.btn {

    color: white;
    background-color: var(--bg-button);
    border: 2px solid var(--Marrom-intermediario);
    border-radius: 8px;
    width: 8%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    cursor: pointer;

}

.btn:hover {

    background-color: rgba(177, 59, 29, .7);
    box-shadow: 0px 0px 20px rgba(177, 59, 29, 1);
    transform: scale(1.1);

}

.menu {

    position: absolute;
    left: 14.3%;
    top: 55%;

}

.again {

    position: absolute;
    left: 23%;
    top: 55%;

}